h1 {

}

#div1 {
	align: center;
}

#div2 {
	align-items: center;
}

table {
	border: 1px solid black;
	/*border-collapse: collapse;*/
}

th {
	height: 50px;
	border: 1px solid black;
}

td {
	border: 1px solid black;
}
